@import '~styles.scss';

.theme-section {
    display:flex;
    padding: 2%;
    background-color: white;
    box-shadow: $z-depth-1;
    width: 1000px;
    margin-bottom: 30px;
}

.theme-content {
    @media screen and (min-width: 980px) {
        margin: 0 calc((100vw - 1060px)/2); 
    }
    padding-top: 5%;
}

.about-section {
    button {
        margin: 15px;
        mat-icon{
            color: white;
        }
    }
    .secondary {
        background-color: $secondary-color;
        color: white;
    }
    .primary {
        background-color: $primary-color;
        color: white;
    }
}