@import '~styles.scss';

.account-section {
    margin: 30px 0;
}

pre {
    background-color: darken(grey, 15%);
    box-shadow: $z-depth-1;
    border-radius: 5px;
    margin: 25px;
    max-width: 800px;
    code {
        color: white;
    }
}

.source-section {
    margin-bottom: 30px;
}

.thin {
    font-weight: 2000!important;
}