@import '~styles.scss';
:host {
    background-color: $primary-color;
}
.title-section{
    display: flex;
    flex-direction: row;
    padding-top: 2%;
    padding-left: 18%;
    //align-items: center;
    justify-content: flex-start;
    background-color: darken(white, 3%);
    img {
        height: 250px;
    }

}

.footer-section {
    padding-top: 2%;
    padding-left: 18%;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    background-color: grey;
}