@import '~styles.scss';

.container {
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    .title-section{
        display: flex;
        flex-direction: row;
        padding-left: 18%;
        //align-items: center;
        justify-content: flex-start;
        background-color: darken(white, 3%);
        img {
            height: 220px;
        }
    
    }
    
    .body-section {
        flex: 1;
    }
    
    .footer-section {
        padding-top: 2%;
        padding-left: 18%;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        background-color: grey;
    }
}
