
:host {
    font-family: Calibri, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 960px; // 1000 - padding
    @media screen and (max-width: 960px) {
        width: 100vw;
        padding: 0;
    }
    h1 {
        font-size: 22px;
    }
    h2 {
        font-size: 15px;
        margin: 5px 0; 
    }
    p {
        font-size: 14px;
        margin-bottom: 5px;
        &.small{
            font-size: 13px!important;
            width: 70%;
        }
    }
    ul {
        margin: 10px 0;
    }
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    p {
        margin: 4px 0;
    }
}
.spacer {
    flex: 1 1 auto;
}
.bold {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.break {
    padding-right: 10px;
    background-color: black;
    height: 1px;
    margin-bottom: 8px; 
}
.content-section {
    flex: 1 1 auto;
    .content-item-section {
        padding: 8px 0;

        .content-item {
            padding: 8px 0;
            p {
                margin: 4px 0;
            }
        }
    }
}
.name-section {
    width: 100%;
    flex: 1 1 auto;
    flex-direction: column;
    .basics{
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        .left-col {
            display: flex;
            flex-direction: column;
            max-width: 48%;
        }
        .right-col {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            max-width: 48%;
        }
        .mid-col {
            min-width: 30px;
        }
    }
    // .item {
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: flex-start;
    //     .right {
    //         align-self: flex-end;
    //     }
    // }
}