<div class="section">
  <h3 class="mat-title">Styling</h3>
  <mat-divider></mat-divider>

  <button mat-raised-button (click)="link('https://material.angular.io/')">Angular Material
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button mat-raised-button (click)="link('https://material.io')">Google Material
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

<div class="section">
  <h3 class="mat-title">Front-end Framework</h3>
  <mat-divider></mat-divider>

  <button mat-raised-button (click)="link('https://angular.io')">Angular 2
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

<div class="section">
  <h3 class="mat-title">Back-end Framework</h3>
  <mat-divider></mat-divider>

  <button mat-raised-button (click)="link('https://firebase.google.com')">Firebase
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>

<div class="section">
  <h3 class="mat-title">Other</h3>
  <mat-divider></mat-divider>

  <button mat-raised-button (click)="link('https://github.com/jsonresume')">JSONResume
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button mat-raised-button (click)="link('https://github.com/niklasvh/html2canvas')">HTML2Canvas
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button mat-raised-button (click)="link('https://github.com/MrRio/jsPDF')">JSPDF
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button mat-raised-button (click)="link('https://github.com/Samuel-Cavicchi/TinyTemplates')">TinyTemplates on Github
    <mat-icon>exit_to_app</mat-icon>
  </button>
</div>